@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Lobster&family=Philosopher&family=Zen+Antique&display=swap");
.widget__contents{
    display: flex;
    cursor: pointer;
}
.widget__content{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid black;
}
.widget__content > img{
    height: 100px;
    width: 190px;
    border-radius: 5px;
}
.widget__contentTitle{
    margin-left: 10px;
}
.widget__contentTitle > h4{
    color: black;
    font-family: 'Zen Antique', serif;
}
.widget__contentTitle > p{
    font-size: 14px;
    color: black;
    font-family: 'Zen Antique', serif;
}